{% extends 'index.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}


{% block body %}
<div class="main">
    <div class="wrapper">
      <div class="content">
        <div class="buttons">
          <div class="close">
          </div>
          <div class="minimize">
          </div>
          <div class="zoom">
          </div>
        </div>
  
        <h2>Login Form</h2>
  
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
  
        <button type="submit">Login</button>
        <br>
  
        <span class="psw">Forgot password</span>
  
      </div>
    </div>
  </div>
{% endblock %}